.editor {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 50%;
}

.render {
  position: absolute;
  top: 10%;
  height: 90%;
  width: 50%;
  left: 50%;
}

.saveButton {
  position: absolute;
  top: 5px;
  right: 5px;
  background: grey;
  border-radius: 5px;
  padding: 3px;
}

.rerenderButton {
  position: absolute;
  top: 5px;
  left: 5px;
  background: grey;
  border-radius: 5px;
  padding: 3px;
}

.deleteButton {
  position: absolute;
  top: 5px;
  right: 65px;
  background: grey;
  border-radius: 5px;
  padding: 3px;
}

.title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30vw;
  text-align: center;
  color: white;
  background: RGBA(0, 0, 0, 0);
}
