.editor {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 20%;
}

.render {
  position: absolute;
  height: 100%;
  width: 40%;
  left: 60%;
}

.articleList {
  position: absolute;
  width: 20%;
  height: 100%;
}

.saveArticleButton {
  position: absolute;
  bottom: 0;
}
