.console {
  font-family: Consolas;
  font-size: 14px;

  background: #000000;
  color: #ffffff;

  position: absolute;
  width: 100vw;
  height: 100vh;

  padding: 2px;
}

.prompt {
  user-select: none;
}

.input {
  font-family: Consolas;
  font-size: 14px;

  background: #000000;
  color: #ffffff;

  outline: none;
  border: none;
}

.errorMessage {
  color: red;
  position: absolute;
  left: 335px;
}

.inputLine {
  display: flex;
}

.inputLineHidden {
  visibility: hidden;
}
